# dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist
.build
.cache

# local env
.env
.env.*.local
terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl

# mac/win
.DS_Store
Thumbs.db
